<%= form_for [alchemy_domains, :admin, @domain], :remote => true do |f| %>
	<div id="errors" style="display: none"></div>
	<table>
		
		<tr>
			<td class="label"><%= f.send :label, :subdomain %></td>
			<td class="input"><%= f.send :text_field, :subdomain, :class => 'thin_border' -%></td>
		</tr>
		<tr>
			<td class="label"><%= f.send :label, :tld %></td>
			<td class="input"><%= f.send :text_field, :tld, :class => 'thin_border' -%></td>
		</tr>

		<tr>
			<td class="submit" colspan="2">
				<%= f.button t('save'), :class => 'button' %>
			</td>
		</tr>
	</table>
<% end %>
